.bg__user{
    @screen md {
        .MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
            width: 100%;
        }

        .MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
            width: 100%;
        }
    }
    .MuiTabs-flexContainer.css-heg063-MuiTabs-flexContainer{
        display: block;
        text-align: center;
    }
}

.user__form {
    p {
        font-weight: bold;
        color: #0060c4;
        span {
            font-weight: 400;
            padding-left: 5px;
            color: #333;
        }
    }
}

.bg__user {
    background: url(../../assets/bg-body.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 85vh;
    
    .container {

        .title {
            display: block !important;
            text-align: center !important;
            margin-bottom: 0;
            max-height: 48px;
        }
    }
}

.text__user--info {
    font-size: 1rem;
    line-height: 2;
    p {
        span {
            display: inline-block;
            width: 120px;
            @screen md {
                width: 170px;
            }
        }
    }
}
.text__user--name {
    font-size: 1rem;
    line-height: 2;
    p {
        span {
            display: inline-block;
            width: 120px;
        }
    }
}

.listContractUser {
    max-height: 65vh;
    overflow-y: auto;

    &::-webkit-scrollbar{
        width: 5px;
        border-radius: 5px;
        background-color: #aaabab;
    }
    
    &::-webkit-scrollbar-thumb{
        width: 5px;
        border-radius: 5px;
        background-color: #1976d2;
    }
    
}

