.bg__contract__detail {
    background: url(../../../assets/bg-body.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 90vh;

    .pt-transform {
        padding-top: 50%;
        transform: translateY(-50%);
    }

    .contract--detail {
        // padding: 2rem;
        padding: 2rem 0;
        line-height: 2;

        @screen lg {
            padding: 1rem 0;
        }

        h3 {
            font-size: 1.1rem;
            font-weight: 600;
            color: #1d3557;
        }

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            span {
                color: #ff006e;
                display: inline-block;
                width: 125px;

                @screen md {
                    width: 155px;
                }
            }
        }

        div {
            span {
                color: #ff006e;
                display: inline-block;
                width: 100px;
            }
        }
    }
}

.form-page {
    .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined.MuiFormLabel-colorPrimary.Mui-required.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
        line-height: 25px !important;
    }

    .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined.MuiFormLabel-colorPrimary.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
        line-height: 25px !important;
    }
}