.home {
    background: url(../../assets/bg-body.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    .banner {
        background: url(../../assets/banner.jpg) no-repeat center/cover;
        width: 100vw;
        height: 50vh;

        @screen lg {
            height: 92vh;
        }
    }
}
.two-line {
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
