.bg__contract__detail {
    .MuiTabs-flexContainer.css-heg063-MuiTabs-flexContainer {
        display: block !important;
        text-align: center !important;
    }

    .css-19kzrtu {
        padding: 0 !important;
    }
}