.container_left {

    .box_time {
        .item_time {
            .titlePicker {
                margin: 10px;
                padding: 0;
                font-size: 15px;
                font-weight: 600;
                color: rgb(73, 73, 255);
                text-align: center;
                font-family: sans-serif;
            }

            .YearPicker {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                margin: 0 auto !important;
                max-height: 250px;
                width: 90%;
                border-radius: 5px;
                border: 1px solid rgb(215, 215, 215);

                &::-webkit-scrollbar {
                    width: 5px;
                    border-radius: 3px;
                    background: rgb(230, 230, 230);
                }

                &::-webkit-scrollbar-thumb {
                    width: 5px;
                    background: rgb(180, 180, 180);
                    border-radius: 3px;
                }

            }

            .MonthPicker {
                // max-height: 100px !important;
                width: 90%;
                overflow-y: scroll;
                margin: 0 auto !important;
                border-radius: 5px;
                border: 1px solid rgb(215, 215, 215);

                &::-webkit-scrollbar {
                    width: 5px;
                    border-radius: 3px;
                    background: rgb(230, 230, 230);
                }

                &::-webkit-scrollbar-thumb {
                    width: 5px;
                    background: rgb(180, 180, 180);
                    border-radius: 3px;
                }
            }
        }

    }

    .box_description {
        margin-top: 5px;

        .description {
            margin: 0 auto !important;
            width: 90%;
            background: rebeccapurple;
            font-size: 13px;
            font-weight: 500;
            color: black;
            margin: 0;
            padding: 0 0 0 20px;
            border-radius: 3px;

        }

        .description:nth-child(1) {
            background-color: #00ff25;
        }

        .description:nth-child(2) {
            background-color: #6291ff;
        }

        .description:nth-child(3) {
            background-color: #ff45dde0;
        }

        .description:nth-child(4) {
            background-color: #ff0000bd;
        }


        .description+.description {
            margin-top: 3px !important;
        }
    }


}

.container_right {

    .listDay {


        .itemDay {
            height: 150px;
            background-color: rgb(189, 255, 255);
            border-radius: 5px;
            border: 2px solid white;

            .item_day,
            .item_dayofweek {
                margin: 0;
                padding: 0;
                color: black;
                font-size: 10px;
                font-weight: 500;
                text-align: center;
            }

            .list_note {
                padding: 0 2px;
                width: 100%;
                border-radius: 5px;
                overflow-y: auto;
                text-align: center;

                &::-webkit-scrollbar {
                    width: 3px;
                    background-color: rgb(230, 230, 230);
                    border-radius: 3px;
                }

                &::-webkit-scrollbar-thumb {
                    width: 3px;
                    background-color: rgb(180, 180, 180);
                    border-radius: 3px;
                }

                .item_note {
                    cursor: pointer;
                    overflow: hidden;
                    width: 100%;
                    height: 25px;
                    border-radius: 5px;
                    line-height: 25px;
                    font-size: 15px;
                    padding-left: 5px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .item_note+.item_note {
                    margin-top: 5px;
                }
            }


        }
    }

    .listList {
        .itemListDay {
            padding: 10px;
            box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
            display: flex;
            align-items: center;

            .radiusDay {
                width: 45px;
                height: 45px;
                background-image: linear-gradient(to bottom right, #5800FF, #0096FF, #00D7FF, #72FFFF);
                border-radius: 0% 100% 50% 50% / 0% 50% 50% 100%;
                text-align: center;
                font-size: 20px;
                font-weight: 700;
                padding-top: 5px;
                color: white;
            }

            .listContent {
                width: 90%;
                margin-left: 10px;

                .item_note {
                    width: 100%;
                    cursor: pointer;
                    padding-left: 10px;
                    border-radius: 3px;
                }

                .item_note+.item_note {
                    margin-top: 5px;
                }
            }
        }

        .itemListDay+.itemListDay {
            margin-top: 10px;

        }
    }

    .TableContainer {
        width: 100% !important;
        overflow-x: auto !important;

        .tableReport {
            min-width: 700px !important;
        }
    }

}

@media screen and (max-width: 900px) {
    .container_left {

        .box_time {
            // flex-direction: column !important;
            // align-items: center !important;
            display: flex;

            .item_time {
                display: flex !important;
                flex-direction: column !important;
                align-content: center !important;
                width: 50%;
                margin: 0;

                .YearPicker,
                .MonthPicker {
                    margin: 0;
                    max-height: 100px !important;
                }
            }
        }

        .box_description {
            margin-top: 5px;

            .description {
                width: 50%;

            }
        }
    }

    .container_right {
        margin-top: 10px !important;

        .listDay {

            .itemDay {

                .item_day,
                .item_dayofweek {}

                .list_note {
                    .item_note {
                        font-size: 12px;
                        line-height: 20px;
                        height: 20px;
                    }

                    .item_note+.item_note {}
                }


            }
        }
    }
}

///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
.box_view_item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    .view_color {
        margin-bottom: 2px;
        margin-right: 2px;
        width: 15px;
        height: 15px;
        border-radius: 3px;
    }

    .view_text {
        white-space: nowrap;
        display: block;
        font-size: 15px;
    }
}

@media screen and (max-width:600px) {
    .boxTable {
        width: 85vw;
        overflow-x: scroll;

        .TableContainer {
            overflow-x: hidden !important;
            width: 700px !important;

            .tableReport {
                width: 700px !important;

                #TableBody {
                    // background-color: #00ff25;
                    max-height: 500px !important;
                }
            }
        }
    }
}

.boxTable {
    tr {

        th,
        td {
            text-align: center;
            width: 20%;
        }
    }

    tbody {
        display: block;
        height: 500px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: #666;
            border-radius: 50px;
        }

        &::-webkit-scrollbar-track {
            background: rgb(218, 215, 215);
            border-radius: 50px;
        }
    }

    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}