.container_admin {
  // max-width: calc(1080px + 40px);
  // margin: 0 auto;

  .menu {
    ul {
      line-height: 2;

      li {
        cursor: pointer;
        position: relative;
        display: block;
        color: #000;
        // text-align: center;
        padding: 8px 12px;
        text-decoration: none;
        z-index: 0;

        &::before {
          position: absolute;
          content: "";
          width: 0%;
          height: 100%;
          bottom: 0;
          left: 0;
          background-color: #00b4d8;
          z-index: -1;
          color: #000;
          transition: all 0.5s ease-in-out;
        }

        &:hover::before {
          width: 100%;
        }
      }

      li:hover {}

      li:active {
        background-color: #00b4d8;
      }
    }
  }

  .active {
    background-color: #00b4d8;
    color: #fff;
  }

  .wrapper {
    min-height: 70vh;
  }
}

.admin__vip__pro {
  .MuiTypography-root.MuiTypography-h6.MuiTypography-noWrap.css-qmydvh-MuiTypography-root {
    width: 100% !important;
  }

  .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-zxtyt4-MuiPaper-root-MuiAppBar-root {
    padding-right: 0 !important;
  }

  .MuiBox-root.css-1v5u2yv {
    min-height: 80vh;
  }

  @media only screen and (min-width: 300px) {
    .css-hyum1k-MuiToolbar-root {
      min-height: 0 !important;
    }
  }
}

.App-particles__container {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}

.App-particles__container canvas {
  transition: 0.2s all ease-in-out;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.App-text__title {
  margin: 0px;
  font-weight: 400;
  font-size: 3.25rem;
  letter-spacing: 0.5rem;
  font-family: "Oswald", sans-serif;
}

.App-text__body {
  margin: 0px;
  margin-top: 12px;
  font-weight: 400;
  font-size: 1.2rem;
}

@keyframes app-enter-anim {
  from {
    opacity: 0.8;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transfrom: scale(1);
  }
}

@-webkit-keyframes app-enter-anim {
  from {
    opacity: 0.8;
    transform: scale(0.7);
  }

  to {
    opacity: 1;
    transfrom: scale(1);
  }
}

.text-white-login-admin {
  p {
    color: #fff !important;
  }
}

@media only screen and (max-width: 990px) {
  .css-1r7kz78-MuiModal-root-MuiDrawer-root .MuiDrawer-paper {
    width: 180px !important;
  }
}