.bg-contract__info {
    // background: url(../../../assets/bg-body.jpg);
    // background-attachment: fixed;
    // background-repeat: no-repeat;
    // background-size: cover;
    // min-height: 500px;

    .text__notify {
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-weight: 600;
        align-items: center;
        justify-content: center;
    }

    .text__p {
        color: #ff006e;
        font-weight: 580;

        span {
            color: #000;
        }
    }
}

.MuiAccordionSummary-content.css-1betqn-MuiAccordionSummary-content { justify-content: space-between;}