.container_create {
    display: flex;
    flex-direction: row;
    padding: 0;
    max-height: 70vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 50px;
    }

    &::-webkit-scrollbar-track {
        background-color: #999;
        border-radius: 50px;
    }


    .info,
    .another_info {
        display: flex;
        flex-direction: column;
    }
}

.action {
    margin: 10px;
    display: flex;
    justify-content: center;

    .btnCreate,
    .btnCancel {
        margin: 0 10px;
        width: 120px;
    }
}

@media screen and (max-width:768px) {
    .container_create {
        max-height: 60vh;
        flex-direction: column;
        overflow: hidden;
        overflow-y: auto;
    }

    .action {

        .btnCreate,
        .btnCancel {
            margin-top: 5px;
            width: 100px;
            height: 40px;
        }
    }
}

.form_scroll::-webkit-scrollbar {
    width: 5px;
}

.form_scroll::-webkit-scrollbar-thumb {
    background: #999;
}

.form_scroll::-webkit-scrollbar-track {
    background: #eee;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    line-height: 0.5rem !important;
    overflow: unset !important;
}

.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    text-align: left !important;
}