.Box_create_file {
    display: flex;
    flex-direction: column;
    width: 350px;

    .listImage {
        max-height: 500px;
        overflow-y: auto;

        .item_box_image {
            .select {

                display: flex;
                align-items: center;
                margin-bottom: 3px;
                margin-top: 10px;

                label {
                    white-space: nowrap;
                    display: block;
                    text-align: left;
                    color: #1976d2;
                    font-weight: 500;
                    padding-left: 10px;
                    cursor: pointer;
                }


                input {
                    position: relative;
                    right: 500%;
                    margin: 10px;
                    margin: 0;
                }
            }

            .image {
                border-radius: 3px;
                margin: 0 auto;
                display: none;
                width: 200px;
                height: 100px;
                margin-bottom: 20px;
            }

            .box_image {
                max-height: 250px;
                overflow-y: auto;

                img {
                    border-radius: 3px;
                    margin: 0 auto;
                    width: 200px;
                    height: 100px;
                    margin-bottom: 5px;
                }
            }

            .active {
                display: block;
            }

            .hidden {
                display: none;
            }

        }
    }




}