@import "../../../App.scss";

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;

    .search {
        width: 100%;
    }

    .addMobile {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 10;
        border-radius: 100%;
        height: 50px;
        width: 50px;
        background: #1976d2;
        color: white;
        display: none;
        font-size: 30px;
        border-color: transparent;
    }
}

.list_car,
.container_user {
    // max-height: calc(80vh - 1.4375em);
}

.list_contract {
    max-height: 80vh;
}

.list_car,
.container_user,
.list_contract {
    background-color: white;
    overflow-y: auto;
    margin-top: 10px;

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 3rem;
        background: #999;
    }
    &::-webkit-scrollbar {
        border-radius: 3rem;
        background: #e9edc9;
    }

    .user,
    .info_contract {
        display: flex;
        margin-top: 10px;
        border: 1px solid gray;
        border-radius: 10px;
        cursor: pointer;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;

        .action_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .info,
        .info_car,
        .info_rent,
        .info_renter {
            display: flex;
            width: 40%;
            flex-direction: column;
            margin: 5px 10px;
            overflow: hidden;
            justify-content: center;

            .title {
                margin: 5px 0;
                line-height: 1;
                font-size: 16px;
                font-family: $font-family;

                .content {
                    font-size: 16px;
                    font-weight: 450;
                    text-transform: none;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .nav {
        .search {
            width: 100%;
            margin: 0 auto;
        }

        .addDesktop {
            display: none;
        }

        .addMobile {
            display: block;
            position: fixed;
            z-index: 999;
            bottom: 10px;
            right: 10px;
        }
    }

    .container_user {
        width: 95vw;
        margin: 8px auto;

        .user {
            flex-direction: column;

            .info {
                width: 90vw;
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .action_info {
            display: flex;
            flex-direction: row;
        }
    }
}

.user:hover,
.info_contract:hover {
    border: 1px solid blue;
}

.contract__items {
    .title {
        font-size: 1rem;
        color: #ff006e;
        width: 100%;
        display: block;
        text-transform: capitalize;
        .content {
            color: #333;
            text-transform: none;
            margin-left: 10px;
        }
    }
}

.list_car{
    overflow: unset !important;
}
@media only screen and (max-width: 767px) {
    .container_user{
        overflow: unset !important;
    }
}

.manager-car{
    &__info{
        p{
            font-size: 1rem;
            span{
                color: #ff006e;
                font-weight: bold;
            }
        }
    }
}

.flex-contract{
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @screen lg{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        gap: 10px;
    }
}

