.container_userInfo {
    padding: 20px 10px;
    background: url(../../../assets/bg-body.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;

    .grid {
        display: flex;
        max-width: calc(1080px + 40px);
        margin: 0 auto;
        justify-content: space-between;



        .left {
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .box_update_role_left {
                padding: 20px;
                border-radius: 10px;
                background-color: white;
                display: flex;
                margin-top: 15px;
                justify-content: space-evenly;
            }

            .contact,
            .infomation {
                width: 100%;
                padding: 20px;
                border-radius: 10px;
                background-color: white;
                display: flex;
                flex-direction: column;

                .box_infomation {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    font-size: 18px;
                    color: black;
                    border-bottom: 1px dashed rgb(102, 102, 255);

                    .box_infomation_title {
                        text-transform: capitalize;
                        font-weight: 600;
                        white-space: nowrap;
                        display: flex;
                        justify-content: center;
                    }

                    .box_infomation_content {
                        margin-left: 5px;
                    }
                }

                .box_infomation+.box_infomation {
                    margin-top: 15px;
                }
            }

            .infomation {
                background-color: #0aff00;
                align-items: center;

                .iconPerson {
                    color: rgb(102, 102, 255);
                    font-size: 100px;
                }
            }

            .contact {
                margin-top: 15px;
                border: 1px solid rgb(199, 199, 199);
            }
        }

        .right {
            display: flex;
            flex-direction: column;

            .title_right {
                padding: 3px;
                margin: 0 0 10px 0;
                background-color: #0aff00;
                font-size: 25px;
                color: black;
                font-weight: 600;
                text-transform: uppercase;
                border-radius: 5px;
                text-align: center;
            }

            .identification {
                border: 1px solid rgb(199, 199, 199);
                padding: 20px;
                border-radius: 10px;
                background-color: white;
                display: flex;
                flex-direction: column;

                .box_identification {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    font-size: 18px;
                    color: black;
                    border-bottom: 1px dashed rgb(102, 102, 255);

                    .box_identification_title {
                        text-transform: capitalize;
                        font-weight: 600;
                        white-space: nowrap;
                    }

                    .box_identification_content {
                        margin-left: 5px;
                    }
                }

                .box_identification+.box_identification {
                    margin-top: 15px;
                }
            }

            .identification+.identification {
                margin-top: 15px;
            }
        }
    }

}

@media screen and (max-width:900px) {
    .container_userInfo {
        .grid {
            justify-content: center !important;
        }
    }
}


#panel1a-header {
    .MuiTypography-root.MuiTypography-body1.title.css-ahj2mt-MuiTypography-root {
        line-height: 40px;
    }

    .css-1betqn-MuiAccordionSummary-content {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.bg-contract__info {
    .container-contract-info {
        max-width: calc(300px + 40px);

        @screen md {
            max-width: calc(1080px + 40px);
            padding: 0 20px;
            margin: 0 auto;
        }
    }
}