#basic-button {
    padding: 0 !important;

    span {
        font-weight: 400;
        font-size: 16px !important;
        text-transform: capitalize;
        line-height: 0;
    }
}

.header-desktop {
    display: none;

    @screen lg {
        display: unset !important;
    }
}

.header-mobi {
    @screen lg {
        display: none;
    }
}

.button-header {
    .MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
        position: absolute !important;
        top: 20px !important;
    }
}

.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-10hburv-MuiTypography-root {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
}

header {
    #signInButton {
        margin-left: 20px;
        line-height: 0;
        border-radius: 5px !important;
        border: 1px solid #1976d2 !important;

        span {
            padding: 0 20px !important;
            color: #0060c4;
        }

        button {
            box-shadow: none !important;
        }
    }

    .MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
        top: 21px !important;
    }

    .css-advny6-MuiPopper-root.MuiPopperUnstyled-root {
        z-index: 999;
    }
}

.header-mobi {
    .info-mobi {
        button {
            color: #fff;

            &::after {
                content: "";
                background-image: url(../../../assets/icons/list-svgrepo-com.svg);
                width: 20px;
                height: 20px;
            }
        }
    }

    .MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
        position: absolute;
        right: 20px;
    }
}

.list__menu {
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 60px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

.d-unset {
    display: unset !important;
}
