#basic-button {
    padding: 0 !important;
    span {
        font-weight: 400;
        font-size: 16px !important;
        text-transform: capitalize;
        line-height: 0;
    }
}

.header-desktop {
    display: none;
    @screen lg {
        display: unset !important;
    }
}

.header-mobi {
    @screen lg {
        display: none;
    }
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    position: absolute !important;
    top: 25px !important;
}

.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-10hburv-MuiTypography-root {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
}

header {
    #signInButton {
        margin-left: 20px;
        line-height: 0;
        border-radius: 5px !important;
        border: 1px solid #0060c4 !important;
        span {
            padding: 0 20px !important;
            color: #0060c4;
        }
        button {
            box-shadow: none !important;
        }
    }
    .MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
        top: 20px !important;
    }
}
