.container_signContract {

    .Wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .SignaturePad {
            background-color: white;
            width: 200px;
            height: 120px;
            border: 1px solid gray;
            border-radius: 5px;
        }

        .action {
            justify-content: space-evenly;
            display: flex;
            flex-direction: column;

        }
    }
}