.login-page {
    .MuiFormControl-root.MuiTextField-root.w-full.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        margin-bottom: 20px;
    }
}

.register-page{
    .css-qfz70r-MuiFormGroup-root{
        display: block !important;
        text-align: center !important;
    }
}

.radius-login{
    border-radius: 5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}