.container_loading {
    display: flex;
    justify-content: center;
    align-items: center;

}

.loader {
    position: relative;
    height: 500px;
}

.outer,
.middle,
.inner {
    border: 3px solid transparent;
    border-top-color: #00ffff;
    border-right-color: #00ffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.outer {
    width: 10em;
    height: 10em;
    margin-left: -5em;
    margin-top: -5em;
    animation: spin 2s linear infinite;
}


.middle {
    width: 7em;
    height: 7em;
    margin-left: -3.5em;
    margin-top: -3.5em;
    animation: spin 1.75s linear reverse infinite;
}

.inner {
    width: 4em;
    height: 4em;
    margin-left: -2em;
    margin-top: -2em;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Contract Not Found */

.ContractNotFound{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 73vh;
}