.configPage {

	table {
		width: 100%;
		border-collapse: collapse;
	}

	tr:nth-of-type(even) {
		background: #bde0fe;
	}

	@media only screen and (max-width: 767px) {
		// tr:nth-of-type(odd) {
		// 	// background: #f9dcc4; 
		// }
	}

	th {
		background: #0060c4;
		color: white;
		font-weight: bold;
		text-transform: capitalize;
		text-align: center !important;
	}

	td,
	th {
		padding: 6px;
		border: 1px solid #ccc;
		text-align: left;
		width: 12.5%;
	}

	@media only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px) {

		table,
		thead,
		tbody,
		th,
		td,
		tr {
			display: block;
		}

		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr {
			border: 1px solid #ccc;
		}

		td {
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			position: absolute;
			top: 6px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		td:nth-of-type(1):before {
			content: "Phân khúc";
		}

		td:nth-of-type(2):before {
			content: "Ngày thường";
		}

		td:nth-of-type(3):before {
			content: "Cuối tuần";
		}

		td:nth-of-type(4):before {
			content: "Ngày lễ";
		}

		td:nth-of-type(5):before {
			content: "Vượt giới hạn km";
		}

		td:nth-of-type(6):before {
			content: "Vượt giới hạn giờ";
		}

		td:nth-of-type(7):before {
			content: "Cập nhật";
		}
	}

	.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
		color: #0060c4;
	}

	.tbl-config-page {
		h3 {
			background-color: #0060c4;
			color: #fff;
			font-weight: 600;
			text-transform: capitalize;
			text-align: center;
			padding: 0.5rem 1rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: nowrap;

			span {
				cursor: pointer;

				svg {
					color: #fff !important;
					font-size: 1rem;
				}
			}
		}

		ul {
			overflow-y: auto;
			max-height: 340px;

			@media only screen and (max-width: 768px) {
				height: 150px;
			}

			&:nth-last-child(2),
			&:nth-last-child(3),
			&:last-child {
				height: auto;
			}

			&::-webkit-scrollbar {
				width: 5px;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background: #555;
			}

			&::-webkit-scrollbar-track {
				border-radius: 10px;
				background: #999;
			}

			li {
				border-bottom: 2px solid #ced4da;
				border-left: 2px solid #ced4da;
				border-right: 2px solid #ced4da;
				padding: 0 1rem;
				line-height: 2;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				&:nth-child(even) {
					background-color: #bde0fe;
				}
			}
		}
	}

}



////////////////////////////////////
////////////////////////////////////

.Box_update_config {
	.boxInput {
		display: flex;
		align-items: center;
		padding: 0;
		justify-content: center;


		button {
			margin-left: 5px;
		}

	}

	.list {
		max-height: 300px;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 3px;
			border-radius: 3px;
			background-color: rgb(215, 215, 215);
		}

		&::-webkit-scrollbar-thumb {
			width: 3px;
			border-radius: 3px;
			background-color: rgb(145, 145, 145);
		}


		.item {

			display: flex;

			.title {
				flex-grow: 1;
				text-transform: none;
				justify-content: center;
				display: flex;
				align-items: center;
				margin: 0;
				padding: 0;
				font-size: 17px;
			}

		}
	}


}

////////////////////////////////////
////////////////////////////////////
.title-modal {
	text-align: center;
	min-width: 400px;

}

@media screen and (max-width: 600px) {
	.title-modal {
		min-width: 270px;
	}
}

.listPriceCreate {
	max-height: 400px;
	overflow-y: auto;
	padding: 10px;

	&::-webkit-scrollbar {
		width: 5px;
		border-radius: 2px;
		background-color: rgb(221, 221, 221);
	}

	&::-webkit-scrollbar-thumb {
		width: 5px;
		border-radius: 2px;
		background-color: #777;
	}


	.itemPriceCreate {
		display: flex;
		flex-direction: column;

		span {
			color: blue;
			size: 18px;
		}

		.TextField+.TextField {
			margin-top: 10px;
		}
	}
}