@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

html {
    overflow-x: hidden;
    font-size: 80%;
    @screen md {
        font-size: 90%;
    }
    @screen lg {
        font-size: 100%;
    }
}

body {
    background-color: #f8f9fa;
    padding-right: 0 !important;
}

.container {
    max-width: calc(1080px + 40px);
    padding: 0 20px;
    margin: 0 auto;
}

.scroll-custom::-webkit-scrollbar {
    height: 10px !important;
}

.scroll-custom::-webkit-scrollbar-track {
    background: #dee2e6;
    border-radius: 5rem;
}

.scroll-custom::-webkit-scrollbar-thumb {
    background: #0060c4;
    border-radius: 5rem;
}

.bs {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.custom__bs{
    transition: all .15s linear;
    &:hover{
        box-shadow: rgba($color: #90e0ef, $alpha: .8) 5px 5px, rgba($color: #ade8f4, $alpha: .8) 10px 10px;
    }
}

.form-page {
    background: url(./assets/bg-body.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;
}

$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;