@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scroll-snap-mandatory {
        scroll-snap-type: x mandatory;
    }
    .scroll-snap-always {
        scroll-snap-stop: always;
    }
    .scroll-snap-start {
        scroll-snap-align: start;
    }
}
.gird-layout {
    @apply grid auto-cols-[80%] md:auto-cols-[45%] lg:auto-cols-[32.5%] grid-flow-col overflow-x-auto scroll-snap-mandatory scroll-snap-always gap-x-3;
}
